<?php

return [
    'bsVersion' => '4.x',
    'yandexMapToken' => '',
    'cookieValidationKey' => '',
    'yandexMetrika' => '',
    'phones' => [
    ],
    'address' => [
        'full' => 'Россия, Московская область, Горки-10, дом 23',
        'lat' => 55.705255,
        'lon' => 37.026364,
    ],
];
